*{
    background-color: white;
    color: black;
}
body{
    padding: 2rem;
    border: 5rem;
    /* height: 100vh; */
}
.navbar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:10%;
}
.nav-button{
    font-family: 'orbitron','sans-serif';
    width: 8rem;
    border-radius: 7px;
    margin-left: 20%;
    height: 2.2em;
}
.search-icon svg{
    position:absolute;
    margin:2px;
    padding: 5px;
    height: 25px;
    margin-left: -2%;
}

.container{
    margin: 10 auto;
    padding: 20px;
    align-content: center;
    display:grid;
    height: 90vh;
}
.list{
    display: flex;
    gap: 40px;
    list-style-type:none;
    margin: 10px;
    padding: 15px;
}
.list-item1{
    text-decoration: underline;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Orbitron', sans-serif;
}
.list-item{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Orbitron', sans-serif;
}

.banner{
    /* width: 90%; */
    height: 100vh;
}
.hero-container{
    position: relative;
    display: flex;
    padding: 20px;
    margin-top: 5rem;
    align-items: center;
}
.square{
    position:absolute;
    height:300px;
    margin-left: 8%;
    margin-top: 11%;
    display: flex;
}
.person{
    height: 420px;
    width: auto;
    position: relative;
    margin-left: 14%;
    margin-bottom: 14%;
}

.hero-heading{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin-bottom: 5rem;
    z-index:1;
    position: relative;
}
.hero-container-right{
    position:static;
    margin-left: 10%;
    text-align:center;
}
.hero-description{
    width:60%;
    margin-left: 15%;

}
.contact{
    margin: 10px;
    padding: 20px;
    /* border: 10px; */
}
.button-email,.button-join {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 12px;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    bottom:auto
}
.button-email{
    background-color:#ffffff;
    color: #000000;
    border:2px solid black;
    
}
.contact-heading {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.bottom-contact{
    text-align:center;
    margin-top: 10%;
}
.icons span {
    margin-right: 10px;
}

.icons img {
    width: 24px;
    height: 24px;
}
.square, .globe {
    position: absolute;
}
.square {
    top: 10%;
    left: 5%;
}

.star {
    top: 1%;
    right: 10%;
    position:absolute;
}

.globe {
    margin-top: -40%;
    right: 40%;
}